/**************/
/* CSS REMEDY */
/**************/











/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root{
    /*fonts*/

    --font-thema-regular: porschenext;

    /*colours*/

    --footer-tekst-kleur: #fbfcff;
    --footer-achtergrond-kleur: rgb(14, 14, 18);

    --primary-text-kleur: #010205;
    --descriptive-text-kleur: #6b6d70;

}





/*@media{
    

}*/






/********************/
/* ALGEMENE STYLING */
/********************/

/*fonts*/


@font-face {
 font-family: 'porschenext';
 src: url(fonts/porsche-next-latin-regular.woff2);
 font-weight: normal;
 font-style: normal;
 font-display: fallback;
}

@font-face {
 font-family: 'porschenextsemibold';
 src: url(fonts/porsche-next-latin-semi-bold.woff2);
 font-weight: bolder;
 font-style: normal;
 font-display: fallback;
}

@font-face {
 font-family: 'porschenext';
 src: url(fonts/porsche-next-latin-bold.woff2);
 font-weight: bold;
 font-style: normal;
 font-display: fallback;
}


/*algemene elementen*/

body {
    font-family: var(--font-thema-regular);
    font-weight: 400;
    margin: 0em;
}

nav{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
}



footer {
    background-color: var(--footer-achtergrond-kleur);
    color: var(--footer-tekst-kleur);
    padding-top: 3.75rem;
    padding-bottom: 7rem;
}


/************************/
/* SPECIFIEKE ELEMENTEN */
/************************/



main section:nth-of-type(even) > ul > li > img{
    width: 20em;
    height: 15em;
}


main section:nth-of-type(odd) > ul > li > img{
    width: 20em;
    height: 15em;
}


main p{
    color: #6b6d70;
    font-size: 0.75rem;
    align-self: center;
}



video{
    grid-area: 1 / 1 / 7 / 7;
}

nav button{
    display: flex;
    align-items: center;
}

nav img{
    height: 2.5em;
    width: 1.875em;
}

footer a{
    color: var(--footer-tekst-kleur);
    border-radius: 1em;
}

footer button{
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0.8125em;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 1rem;
}

footer li img{
    background-color: var(--footer-tekst-kleur);
    color: var(--footer-achtergrond-kleur);
    height: 1.5em;
    width: 1.5em;
    padding: 0.8125em;
    border-radius: 0.25em;
}

/*footer section :nth-last-of-type img{
    justify-content: center;
}
    Porsche logo onderin de footer*/




/******************************/
/* CLASSES ID'S DIVS EN SPANS */
/******************************/

/*frontpage class*/

.frontpage{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%; 
}

.frontpage H2{
    color: var(--footer-tekst-kleur);
    grid-row: 1 / 3 ;
    z-index: 1;
    font-weight: 400;
    font-size: 2em;
}


/*threeitems class*/

.threeitems{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.threeitems > li{
    aspect-ratio: 4 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

.threeitems li > img{
    grid-row: 1 / 5;
    grid-column: 1 / 4;
    z-index: 1;
}

.threeitems h3{
    font-weight: 400;
    color: var(--footer-tekst-kleur);
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    z-index: 2;
}

.threeitems a{
    color: var(--footer-tekst-kleur);
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    z-index: 2;
    align-self: center;
    justify-content: center;
}

/*modeloffer class*/

.modeloffer ul{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    list-style: none;
    align-items: center;
}

.modeloffer li{
    display: grid;
}

.modeloffer H2{
    font-weight: 400;
    font-size: 2em;
}