/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:content-box;  
}










/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root{
    /*fonts*/

    --font-thema-regular: porschenext;

    /*colours*/

    --footer-tekst-kleur: #fbfcff;
    --footer-achtergrond-kleur: #0e0e12;
    --background-colour: #EEEFF2;

    --primary-text-kleur: #010205;
    --descriptive-text-kleur: #6b6d70;

    --svg-kleur: invert(82%) sepia(55%) saturate(82%) hue-rotate(200deg) brightness(107%) contrast(102%);

}





/*@media{
    

}*/






/********************/
/* ALGEMENE STYLING */
/********************/

/*fonts*/


@font-face {
    font-family: 'porschenext';
    src: url(fonts/porsche-next-latin-regular.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'porschenextsemibold';
    src: url(fonts/porsche-next-latin-semi-bold.woff2);
    font-weight: bolder;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'porschenext';
    src: url(fonts/porsche-next-latin-bold.woff2);
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}


/*algemene elementen*/

body {
    font-family: var(--font-thema-regular);
    margin: 0em;
}

nav{
    position: absolute;
    margin-top: 0.75em;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    z-index: 2;
}



footer {
    background-color: var(--footer-achtergrond-kleur);
    color: var(--footer-tekst-kleur);
    padding: 2em;
    padding-top: 3.75rem;
    padding-bottom: 7rem;

}


/************************/
/* SPECIFIEKE ELEMENTEN */
/************************/

main p{
    color: #6b6d70;
    font-size: 0.75rem;
}

button {
    background: transparent;
    border: none;
    width: 2.5em;
    height: 2.5em;
}

video{
    height: 100vh;
    position: absolute;
    z-index: 1;
}

nav button{
    display: flex;
    align-items: center;
}

nav > img{
    height: 2.5em;
    width: 1.875em;
    margin: 0em 3em;
}

footer h2{
    font-weight: bolder;
    font-size: 1.25em;
    margin: 0.5em 0em;
}


footer a{
    color: var(--footer-tekst-kleur);
    border-radius: 1em;
}

footer button{
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0.8125em;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0em;
}

hr{
    margin: 3em 0em;
    border: none;
    text-align: start;
    background: rgb(64, 64, 68);
    height: 1px;
    width: 100%;
}

/*footer section :nth-last-of-type img{
    justify-content: center;
}
    Porsche logo onderin de footer*/




/******************************/
/* CLASSES ID'S DIVS EN SPANS */
/******************************/

/*frontpage class*/

.frontpage{
    display: grid;
    grid-template-rows: 4fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    padding: 0em 1.75em;
}

.frontpage H2{
    color: var(--footer-tekst-kleur);
    grid-row: 2 / 3 ;
    grid-column: 1 / 2;
    z-index: 1;
    font-weight: 400;
    font-size: 2.5em;
    margin-bottom: 0em;
    line-height: 1.25em;
}

.frontpage a{
    text-decoration: none;
    color: var(--footer-tekst-kleur);
    border: 0.125em solid #EEEFF2;
    border-radius: 0.25em;
    padding: 0.8125em 1.625em;
    margin-top: 1em;
    grid-row: 3 / 4 ;
    grid-column: 1 / 2;
    z-index: 1;
    text-align: center;
    justify-content: center;
}

.frontpage p{
    grid-row: 4 / 5 ;
    grid-column: 1 / 2;
    text-align: center;
    z-index: 1;
    color: #afb0b3;
}

.frontpage button{
    grid-row: 5 / 6 ;
    z-index: 1;
    margin-left: auto;
    margin-top: 2em;
    height: 2em;
    width: 2em;
    border: 0.125em solid #EEEFF2;
    border-radius: 0.25em;
    padding: 0em;
}

/*second page class*/

.secondpage{
    background-color: #EEEFF2;
}

.secondpage > main{
    padding: 1.75em;
    padding-top: 6.25em;

}

.secondpage h2{
    font-size: 1.75em;
    font-weight: 600;
    margin: 0em;
}

.secondpage h3{
    font-size: 1.25em;
    font-weight: 600;
}

.secondpage main > button{
    font-family: var(--font-thema-regular);
    margin: 0em;
    color: var(--footer-tekst-kleur);
    background-color: var(--footer-achtergrond-kleur);
    border: 0.125em solid transparent;
    border-radius: 0.25em;
    padding: 0.8125em 1.625em;
    margin-top: 0.5em;
    margin-bottom: 1.875em;
    width: 100%;
    height: auto;
    font-size: 1em;
    font-weight: 400;
}


.secondpage article{
    display: grid;
    grid-template-rows: auto;
    background-color: var(--footer-tekst-kleur);
    border-radius: 1.5em;
    padding: 0.75em;
    margin-top: 4em;
    box-shadow: 0em 0.25em 2em rgba(0, 0, 0, .10);
}

.secondpage article h4{
    grid-row: 2 / 3 ;
    font-size: 1.25em;
    font-weight: 600;
    margin: 0em;
}


.secondpage article img{
    aspect-ratio: 5000 / 1485;
    object-fit: contain;
    grid-row: 1 / 2 ;
    width: 100%;
    transform: translate(0em, -4em);
}

.secondpage article ul{
    display: flex;
    list-style: none;
    padding: 0em;
}


.secondpage article ul:first-of-type{
    grid-row: 3 / 4 ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0.5em 0em;
    height: fit-content;
}


.secondpage article ul:first-of-type li {
    height: fit-content;
}

.secondpage article ul:first-of-type li p:not(.newtagtype){
    background-color: #eeeff2;
    color: var(--primary-text-kleur);
    border-radius: 0.25em;
    margin-right: 0.25em;
    padding: 0.0625em 0.375em;
    height: fit-content;
    margin-bottom: 0.25em;
    font-size: 0.8em;
}

.newtagtype{
    background-color: #e4ffec;
    color: var(--primary-text-kleur);
    border-radius: 0.25em;
    margin-right: 0.25em;
    padding: 0.0625em 0.375em;
    height: fit-content;
    margin-bottom: 0.25em;
    font-size: 0.8em;
}

.secondpage article ul:nth-of-type(2){
    grid-row: 4 / 5 ;
    flex-direction: column;
}

.secondpage article ul:nth-of-type(2) p{
    justify-content: left;
    width: 50%;
    margin: 0em;
}

.secondpage article ul:nth-of-type(2) li{
    margin-bottom: 0.5em;
}

.secondpage article ul:nth-of-type(2) p:first-of-type{
    font-size: 1.15em;
    font-weight: 600;
    color: var(--primary-text-kleur);
}

.secondpage article > p{
    grid-row: 5 / 6 ;
}

.secondpage .buttonrow{
    grid-row: 6 / 7 ;
    justify-content: space-between;
}

.secondpage .buttonrow li{
    width: 100%;
}

.secondpage .buttonrow li:nth-of-type(2){
    margin-left: 0.25em;
}

.secondpage .buttonrow li button{
    font-family: var(--font-thema-regular);
    margin: 0em;
    color: var(--footer-tekst-kleur);
    background-color: var(--footer-achtergrond-kleur);
    border: 0.125em solid transparent;
    border-radius: 0.25em;
    padding: 0.8125em 1.625em;
    margin-top: 0.5em;
    margin-bottom: 1.875em;
    width: 100%;
    height: auto;
    font-size: 1em;
    font-weight: 400;
}

.secondpage .buttonrow li:nth-of-type(2) button{
    color: var(--footer-achtergrond-kleur);
    background-color: transparent;
    border: 0.125em solid var(--footer-achtergrond-kleur);
    
    width: 100%;
}

/*threetiles class*/

.threetiles{
    margin-bottom: 3em;
}

.threetiles p{
    text-align: center;
    padding: 0em 2em 2em 2em;
}


/*threeitems class*/

.threeitems{
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 0em;
    padding: 2em 2em 0em 2em;
}

.threeitems ul{
    justify-content: center;
}

.threeitems > li{
    aspect-ratio: 4 / 3;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr 1fr;
    grid-template-columns: 1fr 20fr 1fr;
    border-radius: 1em;
    box-shadow: inset 0em 0em 5em -1em #0e0e12;
}

.threeitems li > img{
    object-fit: cover;
    grid-row: 1 / 5;
    grid-column: 1 / 4;
    z-index: 1;
    border-radius: 1em;
    width: 100%;
    height: 100%;
}

.threeitems h2{
    text-align: center;
}

.threeitems h3{
    font-weight: 700;
    font-size: 1em;
    color: var(--footer-tekst-kleur);
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    z-index: 2;
    margin: 0em;
    align-self: center;
}

.threeitems a{
    color: var(--footer-tekst-kleur);
    grid-row: 3 / 4;
    grid-column-end: 3;
    z-index: 2;
    margin-left: auto;
    align-self: center;
}





/*modeloffer class*/

.modeloffer{
    padding: 2em;
    background-color: var(--footer-achtergrond-kleur);
}

.modeloffer ul{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    list-style: none;
    padding: 0em;
}

.modeloffer p{
    color: var(--footer-tekst-kleur);
    font-size: 1em;
    grid-area: 4 / 1 / 5 / 2;
    z-index: 2;
}


.modeloffer li{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-right: 1em;
    box-shadow: inset 0 0 5em -0.1em #0e0e12;
}

.modeloffer li ul{
    grid-area: 3 / 1 / 4 / 2;
    z-index: 2;
}

.modeloffer H2{
    color: var(--footer-tekst-kleur);
    font-weight: 400;
    font-size: 2em;
    padding-bottom: 3vw;
}

.modeloffer a{
    display: flex;
    align-items: center;
    grid-area: 5 / 1 / 6 / 2;
    z-index: 2;
}

.modeloffer li > img:nth-of-type(2){
    border-radius: 1em;
    width: 20em;
    grid-area: 2 / 1 / 6 / 2;
    object-fit: cover;
    z-index: 1;
}

/*discover section styling*/

.discover{
    margin-bottom: 5em;
}

.discover h2{
    text-align: center;
    margin: 1.5em 0em 1.5em 0em ;
}



/*svg specific styling*/

.svgicon{
    filter: var(--svg-kleur);
    height: 1.75em;
    width: 1.75em;
}

.svgwordmark{
    filter: var(--svg-kleur);
    height: 2em;
    margin: 2em auto 2em auto;
}

.svgicon{
    filter: var(--primary-text-kleur);
    height: 1.75em;
    width: 1.75em;
}

/*languages*/

.languages ul{
    display: flex;
    align-items: center;
}

.languages li{
    display: flex;
    align-items: center;
}

/*locations & contacts specific styling*/

/*scoial media specific styling*/

.socialmedia img{
    background-color: var(--footer-tekst-kleur);
    color: var(--footer-achtergrond-kleur);
    height: 1.5em;
    width: 1.5em;
    padding: 0.8125em;
    border-radius: 0.25em;
}

/*companylinks specific styling*/

.companylinks{
    margin-bottom: 5em;
}


.companylinks ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2.25rem;
}

.companylinks ul a{
    text-decoration: none;
}

/*bottom footer specific styling*/

.bottomfooter{
    border-top: solid 1px #6b6d70;
}
