/**************/
/* CSS REMEDY */
/**************/











/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root{
    /*fonts*/

    --font-thema-regular: porschenext;

    /*colours*/

    --footer-tekst-kleur: #fbfcff;
    --footer-achtergrond-kleur: #0e0e12;
    --background-colour: #EEEFF2;

    --primary-text-kleur: #010205;
    --descriptive-text-kleur: #6b6d70;

    --svg-kleur: invert(82%) sepia(55%) saturate(82%) hue-rotate(200deg) brightness(107%) contrast(102%);

}





/*@media{
    

}*/






/********************/
/* ALGEMENE STYLING */
/********************/

/*fonts*/


@font-face {
 font-family: 'porschenext';
 src: url(fonts/porsche-next-latin-regular.woff2);
 font-weight: normal;
 font-style: normal;
 font-display: fallback;
}

@font-face {
 font-family: 'porschenextsemibold';
 src: url(fonts/porsche-next-latin-semi-bold.woff2);
 font-weight: bolder;
 font-style: normal;
 font-display: fallback;
}

@font-face {
 font-family: 'porschenext';
 src: url(fonts/porsche-next-latin-bold.woff2);
 font-weight: bold;
 font-style: normal;
 font-display: fallback;
}


/*algemene elementen*/

body {
    font-family: var(--font-thema-regular);
    font-weight: 400;
    margin: 0em;
}

nav{
    position: absolute;
    margin-top: 1em;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}



footer {
    background-color: var(--footer-achtergrond-kleur);
    color: var(--footer-tekst-kleur);
    padding: 2em;
    padding-top: 3.75rem;
    padding-bottom: 7rem;

}


/************************/
/* SPECIFIEKE ELEMENTEN */
/************************/

main p{
    color: #6b6d70;
    font-size: 0.75rem;
    align-self: center;
}

button {
    background: transparent;
    border: none;
    width: 2.5em;
    height: 2.5em;
}

video{
    grid-area: 1 / 1 / 7 / 7;
    height: 100vh;
}

nav button{
    display: flex;
    align-items: center;
}

nav img{
    height: 2.5em;
    width: 1.875em;
}

footer a{
    color: var(--footer-tekst-kleur);
    border-radius: 1em;
}

footer button{
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0.8125em;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 1rem;
}

footer li img{
    background-color: var(--footer-tekst-kleur);
    color: var(--footer-achtergrond-kleur);
    height: 1.5em;
    width: 1.5em;
    padding: 0.8125em;
    border-radius: 0.25em;
}

/*footer section :nth-last-of-type img{
    justify-content: center;
}
    Porsche logo onderin de footer*/




/******************************/
/* CLASSES ID'S DIVS EN SPANS */
/******************************/

/*frontpage class*/

.frontpage{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
}

.frontpage H2{
    color: var(--footer-tekst-kleur);
    grid-row: 2 / 3 ;
    z-index: 1;
    font-weight: 400;
    font-size: 2.5em;
}

.frontpage a{
    text-decoration: none;
    color: var(--footer-tekst-kleur);
    border: 0.125em solid rgb(251, 252, 255);
    border-radius: 0.25em;
    padding: 0.8125em 1.625em;
    grid-row: 3 / 4 ;
}

.frontpage p{
    grid-row: 4 / 5 ;
}

.frontpage button{
    grid-row: 5 / 6 ;
}


/*threeitems class*/

.threeitems{
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 2em;
}

.threeitems > li{
    aspect-ratio: 16 / 9;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr 1fr;
    grid-template-columns: 1fr 11fr 1fr;
    border-radius: 1em;
    box-shadow: inset 0em 0em 5em -1em #0e0e12;
}

.threeitems li > img{
    width: fit-content;
    grid-row: 1 / 5;
    grid-column: 1 / 4;
    z-index: 1;
    border-radius: 1em;
    width: 100%;
    height: 100%;
}

.threeitems h2{
    text-align: center;
}

.threeitems h3{
    font-weight: 400;
    color: var(--footer-tekst-kleur);
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    z-index: 2;
}

.threeitems a{
    color: var(--footer-tekst-kleur);
    grid-row: 3 / 4;
    grid-column-end: 3;
    z-index: 2;
    justify-content: center;
}

/*modeloffer class*/

.modeloffer{
    padding: 2em;
    background-color: var(--footer-achtergrond-kleur);
}

.modeloffer ul{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    list-style: none;
    align-items: center;
    padding: 0em;
}

.modeloffer p{
    color: var(--footer-tekst-kleur);
    font-size: 1em;
}

.modeloffer li{
    display: grid;
    margin-right: 1em;
    box-shadow: inset 0 0 5em -0.1em #0e0e12;
}

.modeloffer H2{
    color: var(--footer-tekst-kleur);
    font-weight: 400;
    font-size: 2em;
    padding-bottom: 3vw;
}

.modeloffer li > img:nth-of-type(2){
    border-radius: 1em;
    width: 20em;
}

/*discover section styling*/

.discover h2{
    text-align: center;
    margin: 1.5em 0em 1.5em 0em ;
}



/*svg specific styling*/

.svgicon{
    filter: var(--svg-kleur);
    height: 1.5em;
    width: 1.5em;
}

.svgwordmark{
    filter: var(--svg-kleur);
    height: 2em;
    margin: 2em auto 2em auto;

}